@import '../../../../styles/common';
@import '../../../../styles/vendor/foundation-sites';

$l-header__height: 50px !default;
$l-header__margin: ($co-margin / 2) !default;

.l-header {
  height: $l-header__height;
  margin-bottom: $l-header__margin;

  &__wrapper {
    @include flex-grid-row($width: none);
    position: fixed;
    z-index: 1000;

    width: 100%;
    min-height: $l-header__height;
    background: $co-color__fg__back;
    box-shadow: $co-shadow;
  }

  &__brand {
    @include flex-grid-column;
    padding: 0 $co-margin;
    line-height: $l-header__height;
  }

  &__menu-icon {
    margin-right: ($co-margin / 2);

    border: 0;
    background: transparent;
  }

  &__brand-icon {
    height: $co-font__line-height;
  }

  &__search,
  &__user {
    display: none;
    height: $l-header__height;
    line-height: $l-header__height;
  }

  &__search {
    &--as-dropdown {
      @include flex-grid-column(12);
      display: block;
    }
  }

  &__search-toggler {
    @include flex-grid-column(shrink);
    height: $l-header__height;
    line-height: $l-header__height;
  }

  &__m-search-field {
    max-width: 45rem;
  }

  @include breakpoint(medium) {
    margin-bottom: 0;
    &__wrapper { box-shadow: none; }
    &__brand { @include flex-grid-column(shrink); }
    &__search { @include flex-grid-column; }
    &__user { @include flex-grid-column(shrink); }

    &__search,
    &__user {
      display: block;
      padding: 0 $co-margin;
    }
  }
}
