@import '../../../../styles/common';
@import '../../../../styles/vendor/foundation-sites';

.l-nav-alt {
  background-color: $co-color__fg__back;

  &__user {
    @include clearfix;
    padding: 1rem;
  }

  &__avatar {
    float: left;
    padding-right: 1rem;
  }

  &__user-name {
    float: left;
    width: rem-calc(250px) - (2 * 1rem) - 3rem; //legacy off-canvas size - padding - avatar-size
    overflow: hidden;
    font-weight: bold;
  }

  &__menu {
    line-height: $co-component__height;
  }
}
