@import '../../../../styles/common.scss';

.l-body {
  &__content {
    // XXX: need a better fix for call-to-action override on mobile
    margin-bottom: 160px;
    padding-top: 45px;

    background-color: $co-color__fg__back;
  }
}
