@import '../../../../../../../../styles/common.scss';

.m-tab {
  white-space: nowrap;
  border-bottom: .25rem solid $co-color__bg__back;
  background-color: $co-color__fg__back;
  color: $co-color__fg__text--low;
  margin-right: .25rem;

  &--is-active {
    border-bottom-color: transparent;
    color: $co-color__fg__text--higher;
  }

  &--last {
    margin-right: 0;
  }

  // &__link,
  // &__button {
  //   display: inline-block;
  //   vertical-align: middle;
  //   text-decoration: none;
  // }
  //
  // &__link {
  //   max-width: 12rem;
  //   padding: 0 ($co-margin / 2);
  //
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   color: inherit;
  //   white-space: nowrap;
  //
  //   &:hover   { color: $co-color__fg__text--high; }
  //   &:active  { color: $co-color__fg__text--lower; }
  // }
  //
  // &__button {
  //   padding-right: ($co-margin / 2);
  //   color: $co-color__primary--low;
  //
  //   &:hover   { color: $co-color__primary--high; }
  //   &:active  { color: $co-color__primary--lower; }
  // }
}
