@import '../../styles/common.scss';
@import '../../styles/object/o-form-element.scss';

@mixin input-text {
  @include o-form-element;

  &,
  &--dark { @include o-form-element--dark; }
  &--light { @include o-form-element--light; }
  &--expanded { width: 100%; }
  &--bottom-space { margin: 0 0 map-get($co-form__spacing, 'medium'); }
}

.m-input-text {
  @include input-text;
}
