@import '../../styles/common.scss';

@mixin m-link {
  border-color: $co-color__primary;
  color: $co-color__fg__text--low;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $co-color__primary;
    color: $co-color__fg__text--high;
  }

  &:active {
    background-color: $co-color__primary--lower;
    color: $co-color__fg__text--high;
  }

  &.is-active {
    background-color: $co-color__primary--low;
    color: $co-color__fg__text;
    cursor: default;
  }

  @each $name, $color in $caliopen-palette {
    &--#{$name} {
      $color-hover: scale-color($color, $lightness: -50%);
      border-color: $color;
      color: $color;

      &:hover,
      &:focus {
        background-color: $color-hover;
        color: $co-color__fg__text--high;
      }
    }
  }
}

@mixin m-link--button {
  display: inline-block;
  padding: 0 1rem;
  line-height: inherit;
}

@mixin m-link--hollow {
  border-width: 1px;
  border-style: solid;
}

.m-link {
  @include m-link;

  &--button {
    @include m-link--button;
  }

  &--hollow {
    @include m-link--hollow;
  }
}
