* {
  // Remove Chrome focus blue shadow
  &:focus {
    outline: none;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  max-width: 100%;
  margin: 0;
}

dd,
dl {
  margin: 0;
}
